<form class="ir-form well" id="incident-report" method="post">
	<legend>Incident Report</legend>
	<fieldset id="incident-report-base">
		<div class="form-row">
			<div class="input-group">
				<label>Date of Report</label><br />
				<input id="dateOfReport" name="dateOfReport" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Report Completed By:</label><br />
				<input name="reportCompletedBy" type="text" />
			</div>
			<div class="input-group">
				<label>Title:</label><br />
				<input name="title" type="text" />
			</div>
			<div class="input-group">
				<label>Department:</label><br />
				<input name="department" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Extension:</label><br />
				<input name="extension" type="text" />
			</div>
			<div class="input-group">
				<label>Date of Offense:</label><br />
				<input name="dateOfOffense" type="text" />
			</div>
			<div class="input-group">
				<label>Time of Offense:</label><br />
				<input name="timeOfOffense" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Nature of Offense:</label><br />
				<input name="natureOfOffense" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Was Campus Security Notified:</label><br />
				<input name="wasCampusSafetyNotified" type="radio" value="Yes" />Yes
				<input name="wasCampusSafetyNotified" type="radio" value="No" checked />No
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Location of Offense:</label><br />
				<textarea name="locationOfOffense" rows="4" cols="50" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Offense Narative:</label><br />
				<textarea name="offenseNarrative" rows="4" cols="50" />
			</div>
		</div><br />
	</fieldset>
	<legend>Victim Info</legend>
	<fieldset id="victim-info">
		<div class="form-row">
			<div class="input-group">
				<label>Name:</label><br />
				<input name="victimName" type="text" />
			</div>
			<div class="input-group">
				<label>Gender:</label><br />
				<input name="victimGender" type="text" />
			</div>
			<div class="input-group">
				<label>Approximate Age:</label><br />
				<input name="victimApproximateAge" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Race:</label><br />
				<input name="victimRace" type="text" />
			</div>
			<div class="input-group">
				<label>University Affiliation:</label><br />
				<input name="victimUniversityAffiliation" type="text" />
			</div>
		</div><br />
	</fieldset>
	<legend>Suspect Info</legend>
	<fieldset id="suspect-info">
		<div class="form-row">
			<div class="input-group">
				<label>Name:</label><br />
				<input name="suspectName" type="text" />
			</div>
			<div class="input-group">
				<label>Gender:</label><br />
				<input name="suspectGender" type="text" />
			</div>
			<div class="input-group">
				<label>Approximate Age:</label><br />
				<input name="suspectApproximateAge" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Race:</label><br />
				<input name="suspectRace" type="text" />
			</div>
			<div class="input-group">
				<label>University Affiliation:</label><br />
				<input name="suspectUniversityAffiliation" type="text" />
			</div>
		</div><br />
	</fieldset>
	<legend>Suspect Description</legend>
	<fieldset id="suspect-description">
		<div class="form-row">
			<div class="input-group">
				<label>Clothing:</label><br />
				<input name="suspectClothing" type="text" />
			</div>
			<div class="input-group">
				<label>Hair:</label><br />
				<input name="suspectHair" type="text" />
			</div>
			<div class="input-group">
				<label>Approximate Height:</label><br />
				<input name="suspectApproximateHeight" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Approximate Weight:</label><br />
				<input name="suspectApproximateWeight" type="text" />
			</div>
			<div class="input-group">
				<label>Beard/Moustache:</label><br />
				<input name="suspectFacialHair" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Glasses:</label><br />
				<input name="suspectGlasses" type="radio" value="Yes" />Yes
				<input name="suspectGlasses" type="radio" value="No" checked />No
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Other Physical Characteristics:</label><br />
				<textarea name="otherPhysicalCharacteristics" rows="4" cols="50" />
			</div>
		</div><br />
	</fieldset>
	<input type="button" onclick="userUtils.submitIncidentReportForm()" value="Submit"/><span id="message-view"></span>
</form>