<form class="ir-form well" id="incident-report" method="post">
	<legend><span>Incident Report</span></legend>
	<fieldset id="incident-report-base">
		<div class="form-row">
			<div class="input-group">
				<label>Date of Report</label>
				<input id="dateOfReport" name="dateOfReport" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Report Completed By:</label>
				<input id="reportCompletedBy" name="reportCompletedBy" type="text" />
			</div>
			<div class="input-group">
				<label>Title:</label>
				<input id="title" name="title" type="text" />
			</div>
			<div class="input-group">
				<label>Department:</label>
				<input id="department" name="department" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Extension:</label>
				<input id="extension" name="extension" type="text" />
			</div>
			<div class="input-group">
				<label>Date of Offense:</label>
				<input id="dateOfOffense" name="dateOfOffense" type="text" />
			</div>
			<div class="input-group">
				<label>Time of Offense:</label>
				<input id="timeOfOffense" name="timeOfOffense" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Nature of Offense:</label>
				<input id="natureOfOffense" name="natureOfOffense" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Was Campus Security Notified:</label>
				<input name="wasCampusSafetyNotified" type="radio" value="Yes" />Yes
				<input name="wasCampusSafetyNotified" type="radio" value="No" checked />No
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Location of Offense:</label>
				<textarea id="locationOfOffense" name="locationOfOffense" rows="4" cols="50" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Offense Narative:</label>
				<textarea id="offenseNarrative" name="offenseNarrative" rows="4" cols="50" />
			</div>
		</div><br />
	</fieldset>
	<legend>Victim Info</legend>
	<fieldset id="victim-info">
		<div class="form-row">
			<div class="input-group">
				<label>Name:</label>
				<input id="victimName" name="victimName" type="text" />
			</div>
			<div class="input-group">
				<label>Gender:</label>
				<input id="victimGender" name="victimGender" type="text" />
			</div>
			<div class="input-group">
				<label>Approximate Age:</label>
				<input id="victimApproximateAge" name="victimApproximateAge" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Race:</label>
				<input id="victimRace" name="victimRace" type="text" />
			</div>
			<div class="input-group">
				<label>University Affiliation:</label>
				<input id="victimUniversityAffiliation" name="victimUniversityAffiliation" type="text" />
			</div>
		</div><br />
	</fieldset>
	<legend>Suspect Info</legend>
	<fieldset id="suspect-info">
		<div class="form-row">
			<div class="input-group">
				<label>Name:</label>
				<input id="suspectName" name="suspectName" type="text" />
			</div>
			<div class="input-group">
				<label>Gender:</label>
				<input id="suspectGender" name="suspectGender" type="text" />
			</div>
			<div class="input-group">
				<label>Approximate Age:</label>
				<input id="suspectApproximateAge" name="suspectApproximateAge" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Race:</label>
				<input id="suspectRace" name="suspectRace" type="text" />
			</div>
			<div class="input-group">
				<label>University Affiliation:</label>
				<input id="suspectUniversityAffiliation" name="suspectUniversityAffiliation" type="text" />
			</div>
		</div><br />
	</fieldset>
	<legend>Suspect Description</legend>
	<fieldset id="suspect-description">
		<div class="form-row">
			<div class="input-group">
				<label>Clothing:</label>
				<input id="suspectClothing" name="suspectClothing" type="text" />
			</div>
			<div class="input-group">
				<label>Hair:</label>
				<input id="suspectHair" name="suspectHair" type="text" />
			</div>
			<div class="input-group">
				<label>Approximate Height:</label>
				<input id="suspectApproximateHeight" name="suspectApproximateHeight" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Approximate Weight:</label>
				<input id="suspectApproximateWeight" name="suspectApproximateWeight" type="text" />
			</div>
			<div class="input-group">
				<label>Beard/Moustache:</label>
				<input id="suspectFacialHair" name="suspectFacialHair" type="text" />
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Glasses:</label>
				<input name="suspectGlasses" type="radio" value="Yes" />Yes
				<input name="suspectGlasses" type="radio" value="No" checked />No
			</div>
		</div><br />
		<div class="form-row">
			<div class="input-group">
				<label>Other Physical Characteristics:</label>
				<textarea id="otherPhysicalCharacteristics" name="otherPhysicalCharacteristics" rows="4" cols="50" />
			</div>
		</div><br />
	</fieldset>
	<input type="submit" action="userUtils.submitIncidentReportForm()" value="Submit"/><span id="message-view"></span>
</form>


