<form class="ir-form" id="tracknum-search-form" method="post">
	<div class="inline-form-row">
		<label for="trackingNumber">Search by Tracking Number:</label>
		<input id="trackingNumber" name="id" type="text"/>
		<input type="button" onclick="userUtils.searchByTrackingNumber()" value="Search"/>
	</div>
</form>
<br />
<form class="ir-form" id="report-search-form" method="post">
	<div class="inline-form-row">
		<label for="offenseType">Nature of Offense (filter):</label>
		<input id="offenseType" name="searchField" type="text" />

		<label>From:</label>
		<input id="fromDate" class="date-input" name="fromDate" type="text" />
		<label>To:</label>
		<input id="toDate" class="date-input" name="toDate" type="text" />

		<input type="submit" value="Search"/>
	</div>
</form>

<script>
  $(function() {
    $( "#fromDate" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
    $( "#toDate" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
</script>

<a onclick="userUtils.resetReportsSearch()" id="show-all-reports-link">Show all reports</a>