body {

}

div#header {

	/*margin: 1em;*/
}

div#menu {

	height: 40px;
}

span#namestring,
span#logout-link {

	float: right;
	margin-right: 3em;
}

div#wrapper {

	width: 80%;
	margin: auto;
	margin-top: 100px;
	border-style: solid;
}

div#wrapper > div {

	margin-left: 1.3em;
	margin-right: 1.3em;
}

div#content-wrapper {

	width: 90%;
	margin-bottom: 50px;
	margin-top: 50px;
	min-height: 300px;
}

div#content {

	width:100%;
	margin-left: 0.7em;
	margin-right: 0.7em;
}

span.hot-text {
	
	color: blue;
}

span.hot-text:hover {

	cursor: pointer;
}

div#message-view {

/*	position: absolute;
	bottom: 10px;*/
	height: 20px;
}

span#menu-items {

	/*margin-left: 1.3em;*/
}

div#login-dialog {

	width: 200px;

	border-style: solid;
	border-radius: 3px;
	border-width: 2px;
	border-color: #181818;

	opacity: 1;
	background-color: #e5e5e5;

	margin-left: auto;
	margin-right: auto;
	margin-top: 7em;
}

div#login-dialog form {

	
}

/* Homepage form */
div.ir-form {


}

form.inner-form {


}

form.ir-form fieldset {

	
}

div.form-row {

	display: inline-flex;
}

div.input-group {


}


