body {

	background-color: #8b2332;
}

a:hover {

	cursor: pointer;
}

a.plain-link {

	cursor: pointer;
	text-decoration: none;
}

table th {

	padding: 0.5em;
}

table td {

	padding: 0.5em;
}

table tr {

	background-color: #f7f5f3;
}

table thead tr {

	background-color: #757371;
	color: white;
}

textarea {

	width: auto;
}

footer {

	height: 75px;
	background-color: #8b2332;
}

div#main {

	background-color: #e5e3e1;
	min-height: 800px;
	padding-bottom: 50px;
}

td.td-centered {

	text-align: center;
}

div.inline-form-row label {

	display: inline;
	margin-bottom: 1em;
}

header#du-header {

	width: 100%;
	background-color: #8b2332;
}

div#du-red-header-inner {

	background-color: #8b2332;
	height: 50px;
	margin: auto;
	width: 60%;
}

span#du-logo {

	margin-top: 5px;
}

span#du-logo a img {

	height: 40px;
	width: 140px;
	margin-top: 5px;
}

div#header {

	/*margin: 1em;*/
}

div#menu {

	/*height: 40px;*/
}

span#namestring,
span#logout-link {

	float: right;
	margin-right: 3em;
}

div#wrapper {

	width: 60%;
	margin: auto;
	margin-top: 50px;
/*	border-style: solid;
	border-width: 2px;
	border-color: #353331;
	border-radius: 5px;
	background-color: #e5e3e1;*/
}

div#wrapper > div#content-wrapper {


}

div#content-wrapper {

	margin-bottom: 50px;
	margin-top: 50px;
	min-height: 300px;
}

div#home-wrapper {


}

div#content {

	width:96%;
	margin: auto;
}

span.hot-text {
	
	color: blue;
}

span.hot-text:hover {

	cursor: pointer;
}

div#message-view {

/*	position: absolute;
	bottom: 10px;*/
	height: 20px;
}

div.navbar {

/*	background-color: #757371;*/
}

div#menu-inner {

	margin: auto;
	width: 100%;
	margin-left: 1.75em;
}

span#menu-items {

	position: relative;
	top: 15px;
	float: right;
}

span#menu-items a {

	padding-right: 1.3em;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

div.dialog-window {

	border-style: solid;
	border-radius: 3px;
	border-width: 2px;
	border-color: #181818;

	opacity: 1;
	background-color: white;

	margin-left: auto;
	margin-right: auto;
	margin-top: 170px;
}

div.dialog-window h4 {

	margin-bottom: 1em;
}

div#login-dialog {

	width: 300px;
}

div#login-dialog form {

	
}

form#login-form span#message-view {

	margin-top: 0.9em;
}

/* Homepage form */
div#homepage-form {


}

form.inner-form {

	width: 100%;
}

div.form-row {

	display: inline-flex;
	width: 100%;
}

div.inline-form-row {

	margin-bottom: 0.7em;
}

div.inline-form-row input {

	margin: 0;
}

div.input-group {

	margin-bottom: 1.3em;
}

form#incident-report {

	/*margin-top: 20px;*/
}

form#incident-report div.input-group {

	width: 33%;
}

div.input-group input[type=text] {

	margin-bottom: 0.7em;
	margin-right: 2.5em;
	width: 85%;
}

div.input-group input[type=radio] {

	margin-right: 0.2em;
	margin-left: 0.9em;
}

div#dashboard-links {

	margin-top: 1.2em;
}

div#reports-table-section {

	/*max-height: 700px;
	overflow: hidden;*/
	border-style: solid;
	border-width: 1px;
	/*overflow-y: scroll;*/
	margin-top: 55px;
	margin-left: 0;

	overflow: hidden;
	overflow-x: scroll;
}

table#reports-table {

	width: 100%;
}

table#reports-table tr {

	height: 110px;
}

table#reports-table th {

	font-size: 0.9em;
}

table#reports-table td {

	font-size: 0.85em;
	text-align: center;
}

table#reports-table td a:hover {

	cursor: pointer;
}

table#reports-table td#offense-narrative {

	text-align: left;
}

div#users-table-section {

	height: 400px;
	overflow: hidden;
	overflow-y: auto;
}

table#users-table th {

	text-align: left;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {

  background-color: white;
}

div#modalFrame {

	width: auto;
	max-height: 800px;
/*	overflow: hidden;
	overflow-y: scroll;*/

	position: fixed;
	top: 10%;
	left: 30%;
	z-index: 1000;
	border-radius: 2px;
	background-color: white;

	border-style: solid;
	border-color: #555351;
	border-width: 1px;
	background-color: white;

	padding: 0.9em;
}

div#modalFrame a.modal-button {

	/*margin: 0.5em;*/
	color: black;
    /*font-weight: bold;*/
    border-style: none;
    border-radius: 7px;
    border-width: 1px;
    border-color: black;
    padding: 0.5em;
    background-color: #757371;
    color: white;
    font-weight: bold;
    /*position: relative;
    left: 180px;*/
}

div#modalFrame a:hover {

	cursor: pointer;
	text-decoration: none;
}

div#modalFrameInner {

	margin-top: 30px;
	width: auto;
	max-height: 700px;
	overflow: hidden;
	overflow-y: auto;

	border-style: solid;
    border-width: 1px;
    border-color: #757371;
}

div#blackout {

	width: 100%;
	height: 2000px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	background-color: black;
	opacity: 0.3;
}

div#full-narrative-view {

	width: 300px;
	height: 400px;
/*	overflow: hidden;
	overflow-y: scroll;*/
	margin-top: 2.1em;
}

form.ir-form {

	border-color: #656361;
}

form.well {

	border-width: 1px;
	border-color: #757371;
}

form.ir-form fieldset {

	padding-bottom: 1.7em;
	padding-left: 1em;
}

form.ir-form legend {

	background-color: #8b2332;
	color: white;
	border-radius: 2px;
	margin-bottom: 2em;
}

form.ir-form legend span {

	margin-left: 0.6em;
	margin-top: 0.3em;
}

div#header {

  background-color: #f10032;
  /*background-color: #baa779;*/
  height: 90px;
  color: #e5e3e1;
}

div#header h2 {

	margin: 0;
	position: relative;
	top: 25px;
	left: 0.7em;
	color: white;
}

input.date-input {

	width: 10%;
}

label.error {

	color: red;
}

input#save-user-data {

	margin-top: 15px;
}

form#edit-user-data {

	margin-bottom: 0;
}