body {

}

div#header {

	/*margin: 1em;*/
}

div#menu {

	height: 40px;
}

span#namestring,
span#logout-link {

	float: right;
	margin-right: 3em;
}

div#wrapper {

	width: 60%;
	margin: auto;
	margin-top: 100px;
	border-style: solid;
}

div#wrapper > div#content-wrapper {

	margin-left: 1.3em;
	margin-right: 1.3em;
}

div#content-wrapper {

	width: 90%;
	margin-bottom: 50px;
	margin-top: 50px;
	min-height: 300px;
}

div#content {

	width:100%;
	margin-left: 0.7em;
	margin-right: 0.7em;
}

span.hot-text {
	
	color: blue;
}

span.hot-text:hover {

	cursor: pointer;
}

div#message-view {

/*	position: absolute;
	bottom: 10px;*/
	height: 20px;
}

div.navbar {

	background-color: #e5e3e1;
}

span#menu-items a {

	padding-right: 0.9em;
}

div#login-dialog {

	width: 300px;

	border-style: solid;
	border-radius: 3px;
	border-width: 2px;
	border-color: #181818;

	opacity: 1;
	background-color: #e5e5e5;

	margin-left: auto;
	margin-right: auto;
	margin-top: 7em;
}

div#login-dialog form {

	
}

/* Homepage form */
div.ir-form {


}

form.inner-form {


}

form.ir-form fieldset {

	
}

div.form-row {

	display: inline-flex;
}

div.input-group {


}

div#dashboard-links {

	margin-top: 1.2em;
}

div#reports-table-section {

	/*max-height: 700px;
	overflow: hidden;*/
	border-style: solid;
	border-width: 1px;
	/*overflow-y: scroll;*/
	margin-top: 2.5em;
	margin-left: 3.3em;
}

table#reports-table {

}

table#reports-table tr {

	height: 110px;
}

table#reports-table th {

	font-size: 0.9em;
	padding: 0.5em;
}

table#reports-table td {

	font-size: 0.85em;
	padding: 0.5em;
	text-align: center;
}

table#reports-table td a:hover {

	cursor: pointer;
}

table#reports-table td#offense-narrative {

	text-align: left;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {

  background-color: #d9d9d9;
}




