<div id="home-wrapper">
	<!--h4>Home</h4-->
	<div class="ir-form">
		<form class="inner-form" id="incident-report">
			<fieldset class="ir-fieldset">
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="wasCampusSafetyNotified" type="radio" value="Yes" />Yes
						<input name="wasCampusSafetyNotified" type="radio" value="No" checked />No
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<textarea name="dateOfReport" rows="4" cols="50" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<textarea name="dateOfReport" rows="4" cols="50" />
					</div>
				</div><br />
			</fieldset>
			<fieldset class="ir-fieldset">
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
			</fieldset>
			<fieldset class="ir-fieldset">
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
			</fieldset>
			<fieldset class="ir-fieldset">
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
					<div class="input-group">
						<label>Label</label><br />
						<input name="dateOfReport" type="text" />
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Glasses:</label><br />
						<input name="suspectGlasses" type="radio" value="Yes" />Yes
						<input name="suspectGlasses" type="radio" value="No" checked />No
					</div>
				</div><br />
				<div class="form-row">
					<div class="input-group">
						<label>Label</label><br />
						<textarea name="dateOfReport" rows="4" cols="50" />
					</div>
				</div><br />
			</fieldset>
		</form>
	</div><!-- end ir form section -->
</div>