<div id="home-wrapper">
	<!--h4>Home</h4-->
	<div class="ir-form">
		<form class="inner-form" id="incident-report">

			<legend class="form-header-tab">
				Incident Report
			</legend>
			<fieldset id="incident-info">
			<div class="form-row">
				<div>
					<label>Label</label><br />
					<input name="dateOfReport" type="text" />

				</div>
			</div><br />
	
			<div class="form-row">
				<div>
					<label>Label</label><br />
					<input name="reportCompletedBy" type="text" />
				</div>
				<div>
					<label>Label</label><br />
					<input name="title" type="text" />
				</div>
				<div>
					<label>Label</label><br />
					<input name="department" type="text" />
				</div>
			<div>
			</fieldset>

			<legend class="form-header-tab">
				Incident Report
			</legend>
			<fieldset id="victim-info">
				<div class="form-row">
					<div>
						<label>Label</label><br />
						<input name="" type="text" />
					</div>
				</div><br />
			</fieldset>

			<legend class="form-header-tab">
				Incident Report
			</legend>
			<fieldset id="suspect-info">
				<div class="form-row">
					<div>
						<label>Label</label><br />
						<input name="" type="text" />

					</div>
				</div><br />
			</fieldset>

			<legend class="form-header-tab">
				Incident Report
			</legend>
			<fieldset id="suspect-description">
				<div class="form-row">
					<div>
						<label>Label</label><br />
						<input name="" type="text" />

					</div>
				</div><br />
			</fieldset>

		<input type="button" class="form-button" value="Submit" onclick="userUtils.submitIncidentReportForm();"/>
		</form>
	</div><!-- end ir form section -->
</div>