<div id="home-wrapper">
	<!--h4>Home</h4-->
	<div class="ir-form">

		<div class="form-wrapper" id="incident-info-form">
			<div class="form-header-tab">
				Incident Report
			</div>
			<form class="inner-form" id="incident-report">
				<fieldset>
				
					<div class="form-row">
						<div>
							<label>Label</label><br />
							<input name="dateOfReport" type="text" />

						</div>
					</div><br />
			
					<div class="form-row">
						<div>
							<label>Label</label><br />
							<input name="completedBy" type="text" />
						</div>
						<div>
							<label>Label</label><br />
							<input name="title" type="text" />
						</div>
						<div>
							<label>Label</label><br />
							<input name="department" type="text" />
						</div>
					<div>
			
				</fieldset>
			</form>
		</div><!-- end incident info form -->

		<div class="form-wrapper" id="victim-info-form">
			<div class="form-header-tab">
				Incident Report
			</div>
			<form class="inner-form" id="victim-info">
				<fieldset>
				
					<div class="form-row">
						<div>
							<label>Label</label><br />
							<input name="" type="text" />

						</div>
					</div><br />
			
				</fieldset>
			</form>
		</div><!-- end victim info form -->

		<div class="form-wrapper" id="suspect-info-form">
			<div class="form-header-tab">
				Incident Report
			</div>
			<form class="inner-form" id="suspect-info">
				<fieldset>
				
					<div class="form-row">
						<div>
							<label>Label</label><br />
							<input name="" type="text" />

						</div>
					</div><br />
			
				</fieldset>
			</form>
		</div><!-- end suspect info form -->

		<div class="form-wrapper" id="suspect-description-form">
			<div class="form-header-tab">
				Incident Report
			</div>
			<form class="inner-form" id="suspect-description">
				<fieldset>
				
					<div class="form-row">
						<div>
							<label>Label</label><br />
							<input name="" type="text" />

						</div>
					</div><br />
			
				</fieldset>
			</form>
		</div><!-- end suspect description form -->

	</div>
</div>