<div id="login-dialog" class="modal-header dialog-window">
	<h4>Login</h4>
	<form method="post" class="well" id="login-form">
		<div class="input-group">
			<label for="login-uname">Username:</label>
			<input id="login-uname" type="text"/>
		</div>
		<div class="input-group">
			<label for="login-passwd">Password:</label>
			<input id="login-passwd" type="password"/>
		</div>
			<input id="login-submit" type="button" class="form-button submit-button" value="Submit"/>
			<input id="login-cancel" type="button" class="form-button" value="Cancel"/><br />
			<span id="message-view"></span>
	</form>
</div>